<section class="account-page">
    <section class="profile-section">
        <img class="profile-picture" src="../media/Hidde.png" alt="Profile picture">
        <div>
            <h2>Hidde van der Plaat</h2>
            <p>Amsterdam</p>
        </div>
        <a href="/account/settings">
            <img class="settings" src="../media/settings.png" alt="Settings">
        </a>
    </section>
    <p class="bio">I like to relax after my work with a beer in front of a good movie. I'm also into sports.</p>
    <section class="my-hobbies">
        <div class="hobbies-head">
            <h2>My hobbies</h2><button>add/remove<svg viewBox="0 0 11 6" fill="none">
                    <path
                        d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                        fill="#8C8C8C" />
                </svg></button>
        </div>
        <section class="hobby-section">
            <p>Drinks</p>
            <p>Fitness</p>
            <p>Gaming</p>
            <p>Fishing</p>
            <p>Movies</p>

        </section>
    </section>
    <section class="post-section">
        <h2>Posts</h2>
        <a class="posts-row" href="/account/saved-posts">
            <svg class="icon" viewBox="0 0 18 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.92106 2.726C7.33737 0.887495 4.69101 0.319317 2.70675 2.00284C0.722481 3.68636 0.443123 6.5011 2.00138 8.49223C3.29697 10.1477 7.21785 13.6392 8.50291 14.7693C8.64664 14.8957 8.71854 14.9589 8.80242 14.9838C8.87556 15.0054 8.95565 15.0054 9.02887 14.9838C9.11275 14.9589 9.18457 14.8957 9.32838 14.7693C10.6134 13.6392 14.5343 10.1477 15.8299 8.49223C17.3881 6.5011 17.1429 3.66865 15.1245 2.00284C13.1061 0.337026 10.5047 0.887495 8.92106 2.726Z"
                    fill="#FF0000" stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <p>Saved posts</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a class="posts-row" href="/account/applied-posts">
            <svg class="icon" viewBox="0 0 15 15" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5ZM10.5227 5.22725C10.7424 5.44692 10.7424 5.80308 10.5227 6.02273L6.77272 9.77273C6.55305 9.9924 6.19695 9.9924 5.97725 9.77273L4.47725 8.27273C4.25758 8.05305 4.25758 7.69695 4.47725 7.47727C4.69692 7.2576 5.05308 7.2576 5.27275 7.47727L6.375 8.57947L8.0511 6.90337L9.72727 5.22725C9.94695 5.00759 10.3031 5.00759 10.5227 5.22725Z"
                    fill="#008709" />
            </svg>

            <p>Applied posts</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a class="posts-row" href="/account/my-posts">
            <svg class="icon" viewBox="0 0 16 17" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.98354 0.995835C-1.00077e-07 1.99168 0 3.59445 0 6.8V10.2C0 13.4055 -1.00077e-07 15.0084 0.98354 16.0041C1.96709 17 3.55007 17 6.71605 17H8.39506C11.561 17 13.1441 17 14.1275 16.0041C15.1111 15.0084 15.1111 13.4055 15.1111 10.2V6.8C15.1111 3.59445 15.1111 1.99168 14.1275 0.995835C13.1441 1.01328e-07 11.561 0 8.39506 0H6.71605C3.55007 0 1.96709 1.01328e-07 0.98354 0.995835ZM3.5679 5.1C3.5679 4.74792 3.8498 4.4625 4.19753 4.4625H10.9136C11.2613 4.4625 11.5432 4.74792 11.5432 5.1C11.5432 5.45208 11.2613 5.7375 10.9136 5.7375H4.19753C3.8498 5.7375 3.5679 5.45208 3.5679 5.1ZM3.5679 8.5C3.5679 8.14793 3.8498 7.8625 4.19753 7.8625H10.9136C11.2613 7.8625 11.5432 8.14793 11.5432 8.5C11.5432 8.85207 11.2613 9.1375 10.9136 9.1375H4.19753C3.8498 9.1375 3.5679 8.85207 3.5679 8.5ZM4.19753 11.2625C3.8498 11.2625 3.5679 11.5479 3.5679 11.9C3.5679 12.2521 3.8498 12.5375 4.19753 12.5375H8.39506C8.74279 12.5375 9.02469 12.2521 9.02469 11.9C9.02469 11.5479 8.74279 11.2625 8.39506 11.2625H4.19753Z"
                    fill="#00089E" />
            </svg>



            <p>My posts</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
    </section>
</section>