<%- include('search.ejs') %>
    <h1 class="posts-h1">Saved posts</h1>
    <section class="activities-container">
        <article class="activity">
            <img class="hero-img" src="../media/activity1.png" alt="activity">
            <h1>Friday night drinks🍻</h1>
            <div class="tags">
                <p class="tag">Social</p>
                <p class="tag">Newcomer friendly</p>
                <p class="tag">Drinks</p>
            </div>
            <div class="activity-info"><img src="../media/schedule (1) (1).png" alt="">
                <p>Friday 15-8 20:00</p>
            </div>
            <div class="activity-info"><img src="../media/location (1).png" alt="">
                <p>Cafe Fest - Wibouthof 1 Amsterdam</p>
            </div>
            <div class="activity-info"><img src="../media/multiple-users-silhouette (1).png" alt="">
                <p>7/12 going</p>
            </div>
            <div class="activity-info"><img src="../media/user (3) 1.png" alt="">
                <p>2 going for the first time</p>
            </div>
            <section class="activity-fold">
                <section class="activity-description">
                    <h2>Description</h2>
                    <p>Let's meet up together at Café Fest for some drinks! Just a laidback group of people enjoying the
                        start of the weekend.
                        At Café Fest they have a wide variety of affordable drinks. Drinking alcohol is totally optional
                        ofcourse, everyone is
                        welcome! We are a chill group and are always welcoming to newcomers who would want to join.


                        Feel free to send me a message if you have any questions.

                        I hope to see you there!
                    </p>

                </section>


                <h2>Hosted by</h2>
                <div class="hosted-by">
                    <img class="profile-img" src="../media/Hidde.png" alt="profile picture">
                    <p>Hidde van der Plaat</p><button>Send message<svg viewBox="0 0 18 17" fill="none">
                            <path
                                d="M12.3705 8.57616H12.3621M9.00332 8.57616H8.9949M5.63614 8.57616H5.62772M1.42389 8.57616C1.42389 12.7604 4.81581 16.1523 9.00003 16.1523C10.7143 16.1523 16.5756 16.1523 16.5756 16.1523C16.5756 16.1523 15.263 13.0007 15.7883 11.944C16.2926 10.9295 16.5762 9.78598 16.5762 8.57616C16.5762 4.39196 13.1842 1 9.00003 1C4.81581 1 1.42389 4.39196 1.42389 8.57616Z"
                                stroke="#8C8C8C" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></button>
                </div>
                <h2>Going (7)</h2>
                <div class="going-imgs">
                    <img class="profile-img" src="../media/Hidde.png" alt="profile picture">
                    <img class="profile-img" src="../media/mem 1.png" alt="profile picture">
                    <img class="profile-img" src="../media/AnaisFlowers 1.png" alt="profile picture">
                    <img class="profile-img" src="../media/Bold 1.png" alt="profile picture">
                    <img class="profile-img" src="../media/IMG-20180925-WA0012 1.png" alt="profile picture">
                    <img class="profile-img" src="../media/IMG-20220925-WA0015 1.png" alt="profile picture">
                    <img class="profile-img" src="../media/38822dd4-9c46-41cb-bfbc-3bc916dda9f1 1.png"
                        alt="profile picture">
                </div>
            </section>
            <button class="read-more-btn">
                <p class="read-more-btn-txt">Read more</p> <svg viewBox="0 0 11 6" fill="none">
                    <path
                        d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                        fill="#8C8C8C" />
                </svg>
            </button>
            <section class="activity-bottom">
                <button class="activity-save-btn saved"><svg viewBox="0 0 17 15" fill="none">
                        <path fill-rule="evenodd" fill="red" clip-rule="evenodd"
                            d="M8.35527 2.60272C6.88471 0.895531 4.42737 0.367937 2.58484 1.93121C0.742304 3.49448 0.4829 6.10816 1.92985 7.95707C3.1329 9.49425 6.77372 12.7364 7.96699 13.7858C8.10045 13.9032 8.16722 13.9619 8.2451 13.9849C8.31302 14.005 8.38739 14.005 8.45538 13.9849C8.53327 13.9619 8.59995 13.9032 8.73349 13.7858C9.92676 12.7364 13.5675 9.49425 14.7706 7.95707C16.2176 6.10816 15.9898 3.47803 14.1156 1.93121C12.2414 0.384382 9.82583 0.895531 8.35527 2.60272Z"
                            stroke="red" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p>saved</p>
                </button>
                <button class="activity-share-btn"><svg viewBox="0 0 12 12" fill="none">
                        <path
                            d="M6 1.16129C6.32067 1.16129 6.58065 0.901324 6.58065 0.580645C6.58065 0.259966 6.32067 0 6 0V1.16129ZM12 6C12 5.67933 11.74 5.41935 11.4194 5.41935C11.0987 5.41935 10.8387 5.67933 10.8387 6H12ZM11.4194 1.16129C11.74 1.16129 12 0.901324 12 0.580645C12 0.259966 11.74 0 11.4194 0V1.16129ZM8.25445 0C7.93378 0 7.67381 0.259966 7.67381 0.580645C7.67381 0.901324 7.93378 1.16129 8.25445 1.16129V0ZM12 0.580645C12 0.259966 11.74 0 11.4194 0C11.0987 0 10.8387 0.259966 10.8387 0.580645H12ZM10.8387 3.78658C10.8387 4.10725 11.0987 4.36723 11.4194 4.36723C11.74 4.36723 12 4.10725 12 3.78658H10.8387ZM11.8299 0.991223C12.0567 0.76447 12.0567 0.396821 11.8299 0.170067C11.6031 -0.0566866 11.2356 -0.0566866 11.0088 0.170067L11.8299 0.991223ZM5.58945 5.58945C5.36268 5.81621 5.36268 6.18379 5.58945 6.41055C5.81621 6.63732 6.18379 6.63732 6.41055 6.41055L5.58945 5.58945ZM6 0H3.67742V1.16129H6V0ZM3.67742 0C1.64644 0 0 1.64644 0 3.67742H1.16129C1.16129 2.2878 2.2878 1.16129 3.67742 1.16129V0ZM0 3.67742V8.32258H1.16129V3.67742H0ZM0 8.32258C0 10.3536 1.64644 12 3.67742 12V10.8387C2.2878 10.8387 1.16129 9.71218 1.16129 8.32258H0ZM3.67742 12H8.32258V10.8387H3.67742V12ZM8.32258 12C10.3536 12 12 10.3536 12 8.32258H10.8387C10.8387 9.71218 9.71218 10.8387 8.32258 10.8387V12ZM12 8.32258V6H10.8387V8.32258H12ZM11.4194 0H8.25445V1.16129H11.4194V0ZM10.8387 0.580645V3.78658H12V0.580645H10.8387ZM11.0088 0.170067L5.58945 5.58945L6.41055 6.41055L11.8299 0.991223L11.0088 0.170067Z"
                            fill="#8C8C8C" />
                    </svg>
                    <p>share</p>
                </button>
                <div class="apply-btn-container">
                    <button class="activity-apply-btn">Apply</button>
                    <button class="activity-apply-btn-extra"><svg viewBox="0 0 11 6" fill="none">
                            <path
                                d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                                fill="#8C8C8C" />
                        </svg></button>
                    <button class="apply-with-buddy-btn">Apply with buddy</button>
                </div>
            </section>
        </article>


    </section>