<section class="settings-page">
    <h1>Settings</h1>
    <section class="post-section">
        <a class="posts-row" href="/account/settings-account">
            <svg class="settings-icon" viewBox="0 0 15 15" fill="none">
                <path
                    d="M7.5 0C3.36 0 0 3.36 0 7.5C0 11.64 3.36 15 7.5 15C11.64 15 15 11.64 15 7.5C15 3.36 11.64 0 7.5 0ZM7.5 2.25C8.745 2.25 9.75 3.255 9.75 4.5C9.75 5.745 8.745 6.75 7.5 6.75C6.255 6.75 5.25 5.745 5.25 4.5C5.25 3.255 6.255 2.25 7.5 2.25ZM7.5 12.9C5.625 12.9 3.9675 11.94 3 10.485C3.0225 8.9925 6 8.175 7.5 8.175C8.9925 8.175 11.9775 8.9925 12 10.485C11.0325 11.94 9.375 12.9 7.5 12.9Z"
                    fill="#1E0065" />
            </svg>


            <p>Account settings</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a class="posts-row" href="/account/settings-app">
            <svg class="settings-icon" viewBox="0 0 17 17" fill="none">
                <path
                    d="M9.90436 1.11418C9.61193 1 9.24132 1 8.50001 1C7.75869 1 7.38808 1 7.09566 1.11418C6.70585 1.26642 6.39612 1.55844 6.23465 1.92597C6.16094 2.09376 6.13209 2.28888 6.1208 2.57349C6.10421 2.99176 5.8767 3.37892 5.49223 3.5882C5.10777 3.79747 4.6384 3.78965 4.2459 3.59407C3.97883 3.46097 3.78518 3.38697 3.5942 3.36327C3.17586 3.31134 2.75277 3.41822 2.41802 3.6604C2.16694 3.84204 1.98162 4.14468 1.61097 4.74995C1.24032 5.35523 1.055 5.65786 1.01369 5.95368C0.958619 6.3481 1.07198 6.74699 1.32885 7.06262C1.44609 7.2067 1.61087 7.32775 1.86661 7.47925C2.24256 7.702 2.48446 8.08143 2.48444 8.5C2.48441 8.91857 2.24252 9.29792 1.8666 9.5206C1.61083 9.67217 1.44603 9.7933 1.32877 9.93738C1.0719 10.253 0.958539 10.6518 1.01362 11.0463C1.05492 11.342 1.24024 11.6447 1.61089 12.25C1.98155 12.8553 2.16687 13.1579 2.41794 13.3395C2.75269 13.5817 3.17578 13.6886 3.59412 13.6367C3.78508 13.613 3.97872 13.539 4.24578 13.4059C4.6383 13.2103 5.10771 13.2025 5.4922 13.4117C5.87669 13.6211 6.10421 14.0082 6.1208 14.4266C6.13209 14.7111 6.16094 14.9063 6.23465 15.074C6.39612 15.4415 6.70585 15.7336 7.09566 15.8858C7.38808 16 7.75869 16 8.50001 16C9.24132 16 9.61193 16 9.90436 15.8858C10.2941 15.7336 10.6039 15.4415 10.7653 15.074C10.8391 14.9063 10.8679 14.7111 10.8792 14.4265C10.8958 14.0082 11.1233 13.6211 11.5077 13.4117C11.8922 13.2024 12.3616 13.2103 12.7542 13.4059C13.0212 13.539 13.2148 13.6129 13.4058 13.6366C13.8241 13.6886 14.2472 13.5817 14.582 13.3395C14.833 13.1579 15.0184 12.8553 15.389 12.2499C15.7597 11.6447 15.945 11.342 15.9863 11.0463C16.0414 10.6518 15.928 10.2529 15.6711 9.9373C15.5539 9.79322 15.3891 9.6721 15.1333 9.5206C14.7574 9.29792 14.5155 8.9185 14.5155 8.49992C14.5155 8.08135 14.7574 7.70208 15.1333 7.4794C15.3891 7.32783 15.554 7.20677 15.6712 7.06262C15.9281 6.74705 16.0414 6.34815 15.9864 5.95373C15.9451 5.65791 15.7598 5.35527 15.3891 4.75C15.0184 4.14473 14.8331 3.84209 14.582 3.66045C14.2473 3.41827 13.8242 3.31139 13.4058 3.36332C13.2149 3.38702 13.0213 3.46102 12.7542 3.5941C12.3617 3.78969 11.8923 3.79752 11.5078 3.58822C11.1233 3.37893 10.8958 2.99174 10.8792 2.57345C10.8679 2.28886 10.8391 2.09375 10.7653 1.92597C10.6039 1.55844 10.2941 1.26642 9.90436 1.11418Z"
                    fill="#626262" stroke="#626262" />
                <path
                    d="M8.50022 10.75C9.81823 10.75 10.8867 9.74264 10.8867 8.5C10.8867 7.25736 9.81823 6.25 8.50022 6.25C7.18222 6.25 6.11377 7.25736 6.11377 8.5C6.11377 9.74264 7.18222 10.75 8.50022 10.75Z"
                    fill="white" stroke="white" />
            </svg>


            <p>App settings</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a class="posts-row" href="/account/privacy-policy">
            <svg class="settings-icon" fill="#ff0000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                stroke="#ff0000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M12,22A17.5,17.5,0,0,0,21,6.7V6L12,2,3,6v.7A17.5,17.5,0,0,0,12,22ZM11,6h2V8H11Zm0,4h2v8H11Z">
                    </path>
                </g>
            </svg>


            <p>Privacy policy</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a class="posts-row" href="/account/terms-of-use">
            <img class="settings-icon" src="../media/terms-and-conditions.png" alt="">


            <p>Terms of use</p>
            <svg class="chevron" viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
    </section>
</section>