<section class="buddy-page">
    <p class="buddy-intro-txt">
        A buddy is someone who shares your interests, helps you explore life in the Netherlands, and supports you in
        learning
        the language naturally. We'll match you based on your location, age and hobbies.
        You'll always decide if you want to accept a match.
        <br><br>
        You don't have a buddy yet.
        Press “Next” to start searching!
    </p>
    <a href="/buddy/step2" class="activity-apply-btn">
        <p>Next</p>
    </a>
</section>