<section class="buddy-result-page">
    <section class="profile-section">
        <img class="profile-picture" src="../media/IMG-20180925-WA0012 - Copy.jpg" alt="Profile picture">
        <div>
            <h2>Dirk Dijkman 26</h2>
            <p>Amsterdam 1234 AB <br>3km away from you</p>
        </div>
    </section>
    <p class="bio">Just an open minded guy looking for a friend. I don't care if you don't speak dutch, only if you can
        have a good time.</p>
    <div class="hobbies-head">
        <h2>Hobbies</h2>
    </div>
    <section class="hobby-section">
        <p>Drinks</p>
        <p>Fitness</p>
        <p>Gaming</p>
        <p>Fishing</p>
        <p>Movies</p>

    </section>
    <div class="bottom-buttons">
        <a href="#" class="cancel-btn" id="findBuddyBtn">Search again</a>
        <a class="post-event-btn">Accept buddy</a>
    </div>
    <a class="report" href="">Report this account</a>
    <div id="loadingOverlay" style="display: none;">
        <div class="loading-spinner">
            <div class="spinner"></div>
            <p>Finding your perfect buddy...</p>
        </div>
    </div>
</section>