<section class="chat-page">
    <h1>Inbox</h1>
    <section class="chats">
        <a href="/chat/message" class="chat">
            <img class="profile-img" src="../media/goat.png" alt="profile-picture">
            <div>
                <h2>Kids farm</h2>
                <p>When are you available to come by? We are open from Monday to Friday from 10 am until 6 pm.</p>
            </div>
            <svg viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a href="" class="chat">
            <img class="profile-img" src="../media/Hidde.png" alt="profile-picture">
            <div>
                <h2>Hidde</h2>
                <p>Nice! When would you want to come? We have a place rented so it doesn't really matter.</p>
            </div>
            <svg viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
        <a href="" class="chat">
            <img class="profile-img" src="../media/mem 1.png" alt="profile-picture">
            <div>
                <h2>Tom</h2>
                <p>It was a lot of fun last night! do you think you want to hangout another time?</p>
            </div>
            <svg viewBox="0 0 11 6" fill="none">
                <path
                    d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                    fill="#8C8C8C" />
            </svg>
        </a>
    </section>
</section>