<section class="chat-message-page">
    <a href="/chat" class="chat">
        <svg viewBox="0 0 11 6" fill="none">
            <path
                d="M5.5 6C5.33667 6 5.174 5.93942 5.04937 5.81791L0.186682 1.06358C-0.0622272 0.819927 -0.0622272 0.425754 0.186682 0.18274C0.43559 -0.0609132 0.838747 -0.0609132 1.0876 0.18274L5.5 4.49648L9.9124 0.18274C10.1613 -0.0609132 10.5645 -0.0609132 10.8133 0.18274C11.0622 0.426102 11.0622 0.819927 10.8133 1.06358L5.95034 5.81791C5.82606 5.93942 5.66303 6 5.5 6Z"
                fill="#8C8C8C" />
        </svg>
        <img class="profile-img" src="../media/goat.png" alt="profile-picture">
        <div>
            <h2>Kids farm</h2>
        </div>
    </a>
    <section class="messages-container">
        <p class="orange-msg">Hey I'd like to help out. I have some experience taking care of animals and I'd love to
            help out on the farm!
        </p>
        <p class="blue-msg">Good that you're interested!</p>
        <p class="blue-msg">When are you available to come by? We are open from monday to friday from 10 am until 6 pm.
        </p>
    </section>
    <form class="searchbar">
        <input type="text" placeholder="Message">

        <button class="send-btn">
            <svg viewBox="0 0 17 17" fill="none">
                <path
                    d="M7.00078 9.99594L15.7569 1.24305M7.24967 10.3896L9.23513 14.3606C9.71496 15.3201 9.95484 15.8 10.2571 15.9286C10.5194 16.0403 10.8192 16.02 11.0642 15.8742C11.3464 15.7062 11.5197 15.1985 11.8664 14.1831L15.6178 3.1968C15.92 2.31213 16.0709 1.86979 15.9676 1.57717C15.8776 1.32261 15.6774 1.12237 15.4229 1.03243C15.1302 0.929049 14.6879 1.08009 13.8032 1.38217L2.81683 5.13362C1.8015 5.48031 1.29384 5.65367 1.12579 5.93589C0.979941 6.18081 0.959732 6.48063 1.07139 6.74287C1.20005 7.0451 1.67986 7.28506 2.63948 7.76481L6.61043 9.75035C6.76859 9.82941 6.84765 9.8689 6.91609 9.9217C6.97693 9.9686 7.03142 10.0231 7.07823 10.0838C7.13112 10.1524 7.17061 10.2314 7.24967 10.3896Z"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </form>
</section>