<section class="create-account-hobbies-page">
    <form action="search" class="searchbar">
        <input type="text" placeholder="Search hobbies">
        <svg viewBox="0 0 18 17" fill="none">
            <path
                d="M12.195 11.7843L16.5761 16.1523M14.0507 7.31345C14.0507 10.8002 11.2241 13.6269 7.73728 13.6269C4.25045 13.6269 1.42383 10.8002 1.42383 7.31345C1.42383 3.82663 4.25045 1 7.73728 1C11.2241 1 14.0507 3.82663 14.0507 7.31345Z"
                stroke="#8C8C8C" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </form>
    <h2>Select your hobbies (max 10)</h2>
    <div data-multiple="true" class="filter-container filter-container-other-hobbies">
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Music</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Music</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Music</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Music</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Music</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>
        <button class="filter-btn">
            Spiritual</button>
        <button class="filter-btn">
            Yoga</button>
        <button class="filter-btn">
            Music</button>
        <button class="filter-btn">
            Football</button>
        <button class="filter-btn">
            Photography</button>
        <button class="filter-btn">
            Disney</button>
        <button class="filter-btn">
            Dancing</button>
        <button class="filter-btn">
            Cooking</button>
        <button class="filter-btn">
            Outdoor</button>
        <button class="filter-btn">
            Cats</button>
        <button class="filter-btn">
            Dogs</button>
        <button class="filter-btn">
            Travel</button>
        <button class="filter-btn">
            Sports</button>
        <button class="filter-btn">
            Gardening</button>
        <button class="filter-btn">
            Art</button>

    </div>
    <div class="bottom-buttons">
        <a href="/activities" class="post-event-btn" id="create-account">Create account</a>
    </div>
</section>