<section class="create-account-page">
    <p>You need an account to do this. It's quick and helps organizers know who's coming!

        If you already have an account you can press “Log in”</p>
    <div class="bottom-buttons">
        <a class="post-event-btn">Log in</a>
        <a href="/create-form" class="cancel-btn">Create account</a>
    </div>
</section>