<%- include('head.ejs') %>
    <%- include('header.ejs') %>

        <body>
            <main>
                <%- include('activities.ejs') %>
            </main>
            <%- include('nav.ejs') %>
        </body>

        </html>