<nav>
    <ul>
        <li><a href="">
                <img src="../media/account.svg" alt="account">
                <p>account</p>
            </a>
        </li>
        <li><a href="">
                <img src="../media/activities.svg" alt="activities">
                <p>activities</p>
            </a>
        </li>
        <li><a href="">
                <img src="../media/newPost.svg" alt="newPost">
                <p>new post</p>
            </a>
        </li>
        <li><a href="">
                <img src="../media/buddy.svg" alt="buddy">
                <p>buddy</p>
            </a>
        </li>
        <li><a href="">
                <img src="../media/chat.svg" alt="chat">
                <p>chat</p>
            </a>
        </li>
    </ul>
</nav>