.buddy-result-page {
  padding: 50px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 125px);
  .bio {
    margin: 20px 0 20px 0;
  }
  .bottom-buttons {
    margin-top: auto;
    a {
      text-decoration: none;
      text-align: center;
    }
  }
}
