.buddy-page {
  height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buddy-intro-txt {
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      color: var(--darkgray);
      margin: 10px 0;
    }
  }
  .activity-apply-btn {
    position: absolute;
    bottom: 100px;
    text-align: center;
    text-decoration: none;
    border: none;
    z-index: 2;
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--primary-color-orange);
    color: white;
    font-size: var(--font-size-normal);
    font-weight: bold;
  }
}
