nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    margin: 0;
    padding: 0;
    list-style: none;
    li a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      gap: 10px;
      width: 20vw;
      padding: 10px;
      color: var(--darkgray);
      font-size: var(--font-size-small);
      svg {
        height: 25px;
      }
    }
  }
}
.page-account nav a[href="/account"],
.page-activities nav a[href="/activities"],
.page-chat nav a[href="/chat"],
.page-new-post nav a[href="/new-post"] {
  color: var(--primary-color-orange);

  svg path {
    stroke: var(--primary-color-orange);
  }
}
.page-buddy nav a[href="/buddy"] {
  color: var(--primary-color-orange);

  svg path {
    fill: var(--primary-color-orange);
  }
}
